.hero-banner {
    grid-template-columns: 1fr;
    gap: 0;
}

@media (min-width: 768px) {
    .hero-banner .img-holder.two {
        margin-block-start: 0;
    }
}

@media (min-width: 575px) {
    .hero-banner {
        grid-template-columns: 1fr;
    }
}

.about-content-boxs {
    display: flex;
    /* flex: 0 0 auto; */
    flex-direction: column;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 40px;
}

.section-title.last {
    color: var(--selective-yellow);
}

.about .container{
    display: flex;
    flex-direction: column;
}

.btn-pre-next {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 50px */
}

@media (max-width: 375px) {
    .btn-pre-next{
        justify-content: center;
        gap: 30px;
    }
}